* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.search-box{
    width: 90%;
    margin: auto;
    padding-bottom: 3px;
    background-color: rgb(241, 236, 236);
    margin-bottom: 3px;
}
.form{
    width: 50%;
}

.btn{
    padding: 2px;
}

.link-container{
    /* outline: 1px solid red; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.special-search-box{
    display: flex;
    justify-content: center;
    padding-top: 8px;
    width: 40%;
    background-color: rgb(124, 215, 221);
}

.help-box{
    margin: 0 2px;
    width: 20%;
    background-color: rgb(77, 196, 204);
}

.get-Google-box{
    width: 40%;
    background-color: rgb(70, 178, 185);
}

.blue-underline-text{
    color: blue;
    text-decoration: underline;
}

.no-bullets {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}
.copyright{
    margin-top: 20px;
}
.low-size-text{
    font-size: small;
}
.text-form{
    text-align: left;
}
